@model ContosoDashboard.Web.ViewModels.ClaimViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <p>
        <a class="btn btn-primary" href="/Home">Back</a>
    </p>
    <div class="clearfix"></div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Claim Information</h3>
        </div>
        <div class="panel-body">
            <div>Claim Id: @Model.ClaimId</div>
            <div>Member Id: @Model.MemberId</div>
            <div>Date Of Service: @Model.DateOfService.ToString("MMMM dd, yyyy")</div>
            <div>Claim Status: @Model.ClaimStatus</div>
            <div>Provider: @Model.Provider</div>
            <div>Amount Billed: $@String.Format("{0:0.00}", Model.AmountBilled)</div>
            <div>Amount Member Responsibility: $@String.Format("{0:0.00}", Model.AmountMemberResponsibility)</div>
        </div>
    </div>
</div>
